.home__title {
  margin-bottom: 12px;
  margin-left: 10px;
}

.home__popularVideos {
  display: flex;
  flex-wrap: wrap;
}

.home__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1012px) {
  h2 {
    text-align: center;
  }
  .home__popularVideos {
    justify-content: center;
  }
}
