.ad__container {
  height: 200px;
  width: 250px;
  position: sticky;
  bottom: 10px;
  margin-left: auto;
  z-index: 999;
  background-color: red;
  background-image: url('../asset//w1200.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ad__close {
  position: absolute;
  right: 5px;
  cursor: pointer;
}
