.cardLoader__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 1012px) {
  .cardLoader {
    text-align: center;
  }
  .cardLoader__row {
    justify-content: center;
  }
}
