.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

.header__logo {
  object-fit: contain;
}

.header__logo img {
  height: 20px;
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__icon {
  margin-right: 8px;
  cursor: pointer;
}
