.pagination {
  display: inline-block;
}

.pagination a {
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  color: #0d6efd;
}

.pagination button {
  padding: 9.5px 16px;
  border: 1px solid #ddd;
  color: #0d6efd;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: lightgray;
  color: white;
  cursor: default;
}

.pagination a.active {
  background-color: lightgray;
  border: 1px solid lightgray;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
